body{
    background-color: #101010;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
@font-face {
    font-family: game;
    src: url('../fonts/Game.ttf');
}

.conteudo{
    width: 70%;
}

.titulo{
    color: #30cc30;
    font-family: game;
    font-size: 40px;
}

.card-titulo{
    color: #30cc30;
    font-family: game;
    font-size: 50px;
}

.card-texto{
    font-family: game;
    font-size: 22px;
    color: #f8f9fa;
}

.img{
    float: right;
}

.btn-fecha-menu{
    color: #30cc30;
}

.paginas{
    font-family: game;
    font-size: 22px;
    
}

.btn-jogar{
    margin-top: 50px;
}

#perfil-img{
    border: 5px solid #f8f9fa;
}

.up-atributo{
    border: 3px solid #30cc30;
}

.btn-up{
    margin-top: 15px;
    margin-bottom: 20px;
}

#pt-disponivel{
    background-color: #303030;
}

.game{
    background-color: #303030;
}

.game-img{
    margin-top: 20px;
}

.progress{
    margin-top: 30px;
}

#btn-ataque{
    font-size: 18px;
}